.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 1rem 1rem;
  padding-top: 1.5rem;
  background: var(--card-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.controlsContainer {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--card-color);
  box-shadow: var(--card-shadow);
  margin-top: 2px;
  border-radius: 10px;
}

.controlBtn,
.timerBtn,
.shareBtn {
  outline: none;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@property --x {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
