.parentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card,
.cardPlaying {
  display: flex;
  background: var(--card-color);
  border-radius: 30px;
  padding: 8rem 0;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  position: relative;
  user-select: none;
  box-shadow: var(--card-shadow);
}

.cardPlaying {
  background: var(--wave-color);
  overflow: hidden;
  flex-direction: column;
}

.before,
.after {
  content: '';
  pointer-events: none;
  position: absolute;
  left: 50%;
  min-width: 400%;
  min-height: 400%;
  background-color: var(--card-color);
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.before {
  bottom: 10%;
  border-radius: 45%;
  animation-duration: 20s;
}

.after {
  bottom: 7%;
  opacity: 0.5;
  border-radius: 47%;
  animation-duration: 20s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  /* 50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  } */
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.cardText,
.cardTextPlaying {
  font-weight: 300;
  font-size: 1.5rem;
  user-select: none;
  position: absolute;
  max-width: 100px;
  text-align: center;
  line-height: 1.7;
  pointer-events: none;
  z-index: 1000;
}

.cardText {
  color: #333;
}

.cardTextPlaying {
  color: #666;
}

@property --x {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@media (max-width: 1080px) {
  .card,
  .cardPlaying {
    padding: 7rem 0;
  }
}

@media (max-width: 768px) {
  .card,
  .cardPlaying {
    padding: 5.5rem 0;
  }

  .cardText,
  .cardTextPlaying {
    font-size: 1.25rem;
  }
}

@media (max-width: 660px) {
  .card,
  .cardPlaying {
    padding: 5rem 0;
    border-radius: 25px;
  }

  .cardText,
  .cardTextPlaying {
    font-size: 1.5rem;
  }
}

@media (max-width: 520px) {
  .card,
  .cardPlaying {
    padding: 5.25rem 0;
    border-radius: 25px;
  }
}

@media (max-width: 435px) {
  .card,
  .cardPlaying {
    padding: 4rem 0;
    border-radius: 20px;
  }

  .cardText,
  .cardTextPlaying {
    font-size: 1.25rem;
  }
}

@media (max-width: 340px) {
  .card,
  .cardPlaying {
    padding: 3rem 0;
    border-radius: 15px;
  }

  .cardText,
  .cardTextPlaying {
    font-size: 1rem;
    max-width: 90px;
  }
}

/** Slider */

.slider {
  appearance: none;
  height: 2px;
  width: 100%;
  border-radius: 50px;
  background: #333;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  /* box-shadow: -5px 5px 6px #e1e1e1, 5px -5px 6px #f9f9f9; */
}

@media (max-width: 435px) {
  .slider {
    width: 90%;
    margin-left: 5%;
  }
}

@media (max-width: 340px) {
  .slider {
    width: 70%;
    margin-left: 15%;
  }
}

.slider::-webkit-slider-thumb {
  appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 100%;
  opacity: 1;
  background-color: #333;
}
