@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');

:root {
  --card-color: #ededed;
  --wave-color: rgb(216, 216, 216);
  --card-shadow: -7px 7px 14px #e1e1e1, 7px -7px 14px #f9f9f9;
  --btn-shadow-secondary: 0 2px 5px rgba(0, 0, 0, 0.3);
  --btn-shadow-primary: 0 2px 5px rgba(145, 45, 45, 0.1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  background: var(--card-color);
  overflow: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.install-btn {
  display: none;
  border: none;
  border-radius: 999px;
  background: #222;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: relative;
  font-family: 'Dosis', sans-serif;
  box-shadow: var(--btn-shadow-secondary);
}

.install-btn svg {
  animation: btnFxLoad 0.3s linear reverse;
  position: relative;
  top: 2px;
}

.install-btn:hover svg {
  animation: btnFx 0.3s linear alternate;
}

@keyframes btnFx {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(5px);
  }
  70% {
    transform: translateY(-30px);
  }
  71% {
    transform: translateX(200px) translateY(-30px);
  }
  72% {
    transform: translateX(200px) translateY(30x);
  }
  73% {
    transform: translateX(0) translateY(30px);
  }
  100% {
    tranform: translateY(0);
  }
}

@keyframes btnFxLoad {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(5px);
  }
  70% {
    transform: translateY(-30px);
  }
  71% {
    transform: translateX(200px) translateY(-30px);
  }
  72% {
    transform: translateX(200px) translateY(30x);
  }
  73% {
    transform: translateX(0) translateY(30px);
  }
  100% {
    tranform: translateY(0);
  }
}

.install-btn span {
  margin-right: 6px;
}

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 500ms linear;
  background-color: #ededed96;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@media (display-mode: browser) {
  .install-btn {
    display: block;
  }
}
