@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');

:root {
  --card-color: #ededed;
  --wave-color: rgb(216, 216, 216);
  --card-shadow: -7px 7px 14px #e1e1e1, 7px -7px 14px #f9f9f9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  background: var(--card-color);
  overflow: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.install-bg {
  display: none;
}

.install-btn {
  display: none;
  border: none;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 0.7rem 1.4rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: relative;
}

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 500ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* @media (max-width: 600px) and (display-mode: browser) {
  .install-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
  }

  .install-btn {
    display: block;
  }

  html,
  body {
    overflow-y: hidden;
  }
} */
