/** Volume Slider */
.slidecontainer {
  width: 100%;
  transform: translateY(5px);
  position: relative;
}

.slider,
.sliderPlaying {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 0;
  height: 0.25rem;
  width: 100%;
  outline: none;
  background: #222;
}

.slider::-webkit-slider-thumb,
.sliderPlaying::-webkit-slider-thumb {
  appearance: none;
  background: #fff;
  border-radius: 5px;
  height: 0.5rem;
  width: 0.25rem;
}

.sliderThumb,
.sliderThumbPlaying {
  background: #444;
  position: absolute;
  height: 0.25rem;
  overflow: hidden;
  top: 13px;
  pointer-events: none;
}

.sliderThumbPlaying {
  background: linear-gradient(
    270deg,
    #ff0000,
    #ff5100,
    #ffd800,
    #9fff00,
    #2fff00,
    #00ffbe,
    #00c5ff,
    #006bff,
    #6b00ff,
    #e700ff,
    #ff0000
  );
  background-size: 400% 400%;
  animation: volumeSlider 4s infinite linear;
}

@keyframes volumeSlider {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
